#tb1 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin: auto;
}

#tb1 td, #tb1 th {
    border: 1px solid #1d3e81;
    padding: 8px;
}

#tb1 tr:nth-child(even){background-color: #9acfea;}

#tb1 tr:hover {background-color: #ddd;}

#tb1 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #1d3e81;
    color: white;
}

